{% extends "tiendas/base.html" %}

{% block title %}
inicio
{% endblock %}

{% block content %}

        <div class="row-fluid ">

            <div class="span3">
              <br><br><br><br>

              <h4 class="alinear1" align="center">Sistema web para gestionar sus ventas en función de 
                los productos. Se clasifica los productos y se realiza una comparativa de calidad precio</h4>

              <br><br><br><br>
            </div>

            <div class="span5">
                <div class="row-fluid">
                  <div class="span2"></div>
                  <div class="span8 registrar">
                    <legend align="center">Entrar</legend>
                    {% if user.is_authenticated %}
                      Bienvenidooo {{user.username|capfirst}}
                      <a href="/cerrar/">Salir</a>
                    {% else %}
                    <form class="form-horizontal alinear" method="POST">{% csrf_token %}
                      <div class="control-group">
                        <label class="control-label" for="inputEmail" >Usuario</label>
                        <div class="controls">
                          <input name="username" type="text" id="inputEmail" placeholder="Usuario">
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label" for="inputPassword">Contraseña</label>
                        <div class="controls">
                          <input name="password" type="password" id="inputPassword" placeholder="Contraseña">
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls">
                          <label class="checkbox">
                          <input type="checkbox">Recordar</label>
                          <button type="submit" class="btn btn-info">Ingresar</button>
                          <a href="/registrarse/" class="reg">Registrarse</a>
                        </div>
                      </div>
                    </form>
                    {% endif %}  
                  </div>  
                  <div class="span2"></div>
                </div>
            </div>
        </div>

     
      </div>  	


{% endblock %}