{% extends "tiendas/base.html" %}

{% load staticfiles %}
{% block body_block %}
        <h1>Add zona</h1>

        <form role="form"  id="category_form" method="post" action="/tiendas/add_zona/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br/>
                    {{ field.name }}<br/>
                    {{ field }}<br/>
                {% endfor %}

            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Añadir zona</button>
        </form>


 {% endblock %}