{% extends "tiendas/base.html" %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">

  <h1>Bienvenido a la tu tienda online {{ user.username }}!</h1>
  {% else %}
  <h1>Bienvenido a tu tienda online!, no estas registrado</h1>
  {% endif %}
</div>

<div class="row placeholders">
  <div class="col-xs-12 col-sm-6 placeholder">
   <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel panel-success"> Zonas </h3>
    </div>
  </div>
  {% if zonas %}
  <ul class="list-group">
    {% for zona in zonas %}
    <li class="list-group-item"><a href="{% url 'tienda'  zona.slug %}">{{ zona.nombre }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <strong>No hay zonas disponibles.</strong>
  {% endif %}

</div>


<div class="col-xs-12 col-sm-6 placeholder">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel panel-success">Las tres tiendas más visitadas</h3>
    </div>
  </div>
  {% if tiendas %}
  <ul class="list-group">
    {% for tienda in tiendas %}
    <!-- puede poner tambien tapa.bar.slug -->
    <li class="list-group-item"><a href="/tiendas/mostrartiendas/{{ tienda.zona|slugify }}"}>{{ tienda.bar}} --->      {{ tienda.nombre }}  {{ tienda.views }} votos</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <strong>No hay tiendas disponibles.</strong>
  {% endif %}
</div>

</div>


<p> visits: {{ visits }}</p>
{% endblock %}