body{
	background:#D8F6CE;
}


.pie
{
	background: #FA5858;
	min-height: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#parrafo
{
	float: right;
	color: white;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
}

.estilo{
	margin-top: 8%; 
	margin-left: 114%;
	position:relative;
	z-index:-1;
}

.estilo1{
	margin-top: 20%;
	margin-left: -30%;
	position:relative;
	z-index:-1;
}

.registrar{
	border-radius: 10px; 
	border: 5px groove #b1c6de;
}

.alinear{
	margin-left: -20%;
}

.alinear1{
	color: #151515;
	margin-left: 10%;
}


#title {
  padding: 30px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #151515;
}

