<!DOCTYPE html>
 <html lang="es"> 
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="MiTienda es una biblioteca virtual hecha por qaysen">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    </head>
   
    <body>
   <div class="row-fluid">
      <p id="title">Mi tienda online</p>
   </div>

<div class="row-fluid">
<div class="span12">            
 <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Shop</a>
        <a class="brand" href="/producto/reportar/">Productos</a>
        <a class="brand" href="/producto/registrar/">Registrar Producto</a>
      </div>
</div>
</div>
</div>
  {% block content %}
  {% endblock %}

<footer>
    <div class="row-fluid pie">
      <p> Realizado por Lorenzo Manuel Rosas Rodríguez.
    </div>
    
  </footer>

    {% block js %}
    {% endblock %}
</body>
</html>
